#cntStaticButtons
{
    position: sticky;
    bottom: 4rem;
    right: 4rem;
}

#cntEditButtons,
#cntCommitButtons
{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#lstDebtors,
#lstDebts
{
        overflow-y: scroll;
}

#lstDebtors
{
    height: 75vh;
}

#lstDebts
{
    height: 55vh;

}
#cntMainFrame
{
    min-height: 95vh;
    padding: 3em;
    padding-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#cntMainFrame,
#cntUserDetails,
#cntDebtInfo
{
    border: 1pt solid #dedede;
}

#cntDebtInfo
{
    margin: 3rem;
}
#spnUserName
{
    font-size: 42pt;
}
#spnUserID
{
    font-size: 22pt;
}

#cntDebtInfo
{
    padding: 1rem;
}

.debtor .userid,
#spnUserID
{
    font-style: italic;
}

.debtor .userid
{
    font-size: 9pt;
}

.debtor .userid::before,
#spnUserID::before
{
    content: "UserID: #";
}

.basePadding
{
    padding: 1rem;
}

.debt .debtidx
{
    display: none;
}
.debt .debtid::before{
    content: "DebtID #";
}